h1{
    font-family: Tahoma, serif;
    font-size: 14px;
    color: darkblue;
}
#block-header{
    width: 1300px;
    height: 50;
    border: 1px solid black;
    margin-left: 20px;
}
#block-content{

  width: 1300px;
    height: 1000px;
    border: 1px solid black;
    margin-left: 20px;
}
#enter{
    float: right;
    margin-right: 5px;
}
.poradok li{
margin-left: 10px;
    display: inline;

}
.poradok{
    margin-top: -10px;
    margin-left: 10px;
}
#search{
    margin-left: 700px;
    margin-top: -30px;
}
#main-block{
    width: 800px;
    height: 1000px;
    border: 1px solid black;
    margin-left: 250px;
}
.signup-form{
   width: 30px;
   margin-left: 500px;
    margin-top: 200px;
    height: 15px;
    margin-right: 5px;

}
#footer {
    background: #F0F0E9;
    height: 50px;
    width: 1300px;
    height: auto;
    border: 1px solid black;
    margin-left: 20px;
}
.footer-bottom {
    padding-top: 15px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}
.pull-left {
    margin-right: 22px
}
.blog{
    width: 690px;
    ;
    border: 1px solid black;
    margin-left: 45px;
margin-bottom: 10px;
    margin-top: 10px;
}